%p#notice= notice

%p
  %b Name:
  = @product.name
%p
  %b Description:
  = @product.description
%p
  %b Price:
  = @product.price
%p
  %b No of items:
  = @product.no_of_items
%p
  %b Product img :
  = image_tag @product.product_img.url
%p
  %b Product img name:
  = @product.product_img_name

= link_to 'Edit', edit_product_path(@product)
\|
= link_to 'Back', products_path
